$lightColour: whitesmoke;
$darkColour: #333;
$w: 900px;
$breakpoint: 700px;
$titleBorderSize: 2px;
$titleBorderColour: rgba(255, 255, 255, 0.25);
$buttonHoverBgAlpha: 0.11;

@import 'components/_erecolnat';
@import 'components/_fuck';
@import 'components/_helper';
@import 'components/_normalize';
@import 'components/_utils';
@import 'components/_components/_news';
@import 'components/_components/_tools-group';
@import 'components/_components/_user';
@import 'components/_components/_discussions';
@import 'components/_components/_about';
@import 'components/_components/_title';

@import '_layout';