$contribuerColour: #8CA01B;
$travaillerColour: #4cffc1;
$visiterColour: #ffd405;

.contribuer {
  color: $contribuerColour;
}

.travailler {
  color: $travaillerColour;
}

.visiter {
  color: $visiterColour;
}