*, *::before, *::after {
  box-sizing: border-box;
}

html, body, button {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 {
  font-weight: 100 !important;
  margin: 0;
  padding: 0;
}